{% extends 'base.html.twig' %}

{% block title %}Asiento{% endblock %}

{% block body %}
    <h1>Asiento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idasiento</th>
                <td>{{ asiento.idasiento }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ asiento.tipo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ asiento.estado }}</td>
            </tr>
            <tr>
                <th>SalaIdsala</th>
                <td>{{ asiento.salaIdsala }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('asiento_index') }}">back to list</a>

    <a href="{{ path('asiento_edit', {'idasiento': asiento.idasiento}) }}">edit</a>

    {{ include('asiento/_delete_form.html.twig') }}
{% endblock %}
