{% extends 'base.html.twig' %}

{% block title %}Sala index{% endblock %}

{% block body %}
<div id="conte">
    <link href="{{ asset("css/mantenimiento/listados.css") }}" rel="stylesheet">
    <h1>Sala index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id sala</th>
                <th>Aforo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sala in salas %}
            <tr>
                <td>{{ sala.idsala }}</td>
                <td>{{ sala.aforo }}</td>
                <td>
                    <a href="{{ path('sala_detalles', {'idsala': sala.idsala}) }} " class="btn">Detalles</a>
                    <a href="{{ path('sala_editar', {'idsala': sala.idsala}) }} " class="btn">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay salas almancenadas.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sala_nueva') }}" class="btn" style="margin-bottom: 5px;" id="nuevo">Crear nueva</a>
    <a href="{{ path("mantenimiento") }}" id="volver" class="btn" style="margin-bottom: 5px;background-color:white;" id="volver">Volver a mantenimiento</a>
</div>
{% endblock %}
