{% extends 'base.html.twig' %}

{% block title %}Género{% endblock %}

{% block body %}
<div id="conte">
    <link href="{{ asset("css/mantenimiento/listados.css") }}" rel="stylesheet">
    <h1>Género index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id género</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for genero in paginacion %}
            <tr>
                <td>{{ genero.idgenero }}</td>
                <td>{{ genero.nombre }}</td>
                <td>
                    <a href="{{ path('genero_editar', {'idgenero': genero.idgenero}) }}" class="btn">Editar</a>
                    {{ include('genero/borrar.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay géneros almacenados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(paginacion) }}
      </div>

    <a href="{{ path('genero_nuevo') }}" class="btn" style="margin-bottom: 5px;" id="nuevo">Crear nuevo género</a>
    <a href="{{ path("mantenimiento") }}" id="volver" class="btn" style="margin-bottom: 5px;background-color:white;" id="volver">Volver a mantenimiento</a>
</div>
{% endblock %}
