{% extends 'base.html.twig' %}

{% block title %}Pelicula{% endblock %}

{% block body %}
<link href="{{ asset("css/mantenimiento/pelicula/detallesPelicula.css") }}" rel="stylesheet">

    <h1>{{pelicula.titulo}}</h1>
    <div class="card mb-3" style="width: 98%;margin:15px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{asset('imagenes/' ~ pelicula.imagen)}}" class="card-img" alt="" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5>Descripción:</h5>
              <p class="card-text">{{pelicula.Descripcion}}</p>
              <h5>Director:</h5>
              <p class="card-text">{{pelicula.director}}</p>
              <h5>Actores:</h5>
              <p class="card-text">{{pelicula.Actores}}</p>
              <h5>Género</h5>
              <p class="card-text">{{pelicula.generoIdgenero}}</p>
              <h5>Duración</h5>
              <p class="card-text">{{pelicula.duracion}} minutos</p>
              <h5>Fecha de estreno:</h5>
              
              <p class="card-text">{{pelicula.fechaEstreno|date("m/d/Y")}}</p>

              <div id="botones">
                <a href="{{ path('pelicula_index') }}" class="btn">Ir a listado de películas.</a>

                <a href="{{ path('pelicula_editar', {'idpelicula': pelicula.idpelicula}) }} " class="btn">Editar</a>

                {{ include('pelicula/borrar.html.twig') }}
              </div>
              
              
            </div>
          </div>
        </div>
      </div>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="{{pelicula.trailer}}" frameborder="0"></iframe>
      </div>    
{% endblock %}
