{% extends 'base.html.twig' %}

{% block title %}Pelicula{% endblock %}

{% block body %}
<div id="conte">
    <link href="{{ asset("css/mantenimiento/listados.css") }}" rel="stylesheet">
    <h1>Pelicula</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id Película</th>
                <th>Director</th>
                <th>Fecha Estreno</th>
                <th>Duración</th>
                <th>Descripción</th>
                <th>Actores</th>
                <th>Imagen</th>
                <th>Título</th>
                <th>Trailer</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pelicula in peliculas %}
            <tr>
                <td>{{ pelicula.idpelicula }}</td>
                <td>{{ pelicula.director }}</td>
                <td>{{ pelicula.fechaEstreno ? pelicula.fechaEstreno|date('Y-m-d') : '' }}</td>
                <td>{{ pelicula.duracion }}</td>
                <td>{{ pelicula.descripcion }}</td>
                <td>{{ pelicula.actores }}</td>
                <td>{{ pelicula.imagen }}</td>
                <td>{{ pelicula.titulo }}</td>
                <td>{{ pelicula.trailer }}</td>
                <td>
                    <a href="{{ path('pelicula_detalles', {'idpelicula': pelicula.idpelicula}) }}" class="btn">Detalles</a>
                    <a href="{{ path('pelicula_editar', {'idpelicula': pelicula.idpelicula}) }}" class="btn">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No hay películas almacenadas.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pelicula_nueva') }}" class="btn" style="margin-bottom: 5px;" id="nuevo">Crear nueva película</a>
    <a href="{{ path("mantenimiento") }}" id="volver" class="btn" style="margin-bottom: 5px;background-color:white;" id="volver">Volver a mantenimiento</a>
</div>
{% endblock %}
