<div class="menu">
    <ul>
        <li><a href="{{ path("principal") }}" id="principal"><i class="home"></i></a></li>
        <li><a href="{{ path("trailer")}}" id="trailer"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
        <li><a href="" id="pelis"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
        <li><a href="{{ path("reserva")}}" id="entradas"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
        <li><a href="{{ path("contacto")}}" id="contacto"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
        <li><a href="{{ path("mantenimiento") }}" id="manteni"><div class="mant"><i class="mantenimiento"></i><i class="mantenimiento1"></i></div></a></li>
    </ul>
</div>