{% extends 'base.html.twig' %}

{% block title %}Horario{% endblock %}

{% block body %}
    <h1>Horario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{{ horario.fecha ? horario.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Horainicio</th>
                <td>{{ horario.horainicio ? horario.horainicio|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('horario_index') }}">Volver a listado de horarios.</a>

    <a href="{{ path('horario_editar', {'fecha': horario.fecha}) }}">Editar</a>

    {{ include('horario/_delete_form.html.twig') }}
{% endblock %}
