{% extends 'base.html.twig' %}

{% block title %}Horario{% endblock %}

{% block body %}
<div id="conte">
    <link href="{{ asset("css/mantenimiento/listados.css") }}" rel="stylesheet">
    <h1>Horario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id horario</th>
                <td>{{ horario.idhorario }}</td>
            </tr>
            <tr>
                <th>Hora inicio</th>
                <td>{{ horario.horainicio ? horario.horainicio|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ horario.fecha ? horario.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Película</th>
                <td>{{ horario.peliculaIdpelicula }}</td>
            </tr>
            <tr>
                <th>Sala</th>
                <td>{{ horario.salaIdsala }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('horario_index') }}" class="btn">Volver a listado de horarios</a>

    <a href="{{ path('horario_editar', {'idhorario': horario.idhorario}) }}" class="btn">Editar</a>

    {{ include('horario/borrar.html.twig') }}
</div>

{% endblock %}
